<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Image Upload</title>
</head>
<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="folderName">Folder Name:</label>
    <input type="text" id="folderName" name="folderName"><br><br>
    <label for="image1">Image 1:</label>
    <input type="file" id="image1" name="image1"><br><br>
    <label for="image2">Image 2:</label>
    <input type="file" id="image2" name="image2"><br><br>
    <input type="submit" value="Upload">
  </form>
</body>
</html>
